hydra:
  run:
    dir: data/models/${exp_name}
  sweep:
    dir: data/models
    subdir: ${exp_name}

trainer:
  _target_: lightning.pytorch.Trainer
  enable_checkpointing: true
  accelerator: cuda
  max_epochs: -1
  max_steps: 1000000
  benchmark: true
  deterministic: false
  val_check_interval: 2000
  check_val_every_n_epoch: null
  default_root_dir: data/models/${exp_name}
  devices: ${devices}
  num_nodes: ${nodes}
  precision: bf16-mixed
  strategy: ddp

callbacks:
  learning_rate_monitor:
    _target_: lightning.pytorch.callbacks.LearningRateMonitor

  model_checkpoint_best:
    _target_: lightning.pytorch.callbacks.ModelCheckpoint
    dirpath: data/models/${exp_name}
    filename: best
    auto_insert_metric_name: false
    save_top_k: 1
    monitor: val/loss
    save_last: false
    save_weights_only: false

  model_checkpoint_last:
    _target_: lightning.pytorch.callbacks.ModelCheckpoint
    dirpath: data/models/${exp_name}
    filename: last
    auto_insert_metric_name: false
    save_top_k: 1
    save_on_train_epoch_end: true
    monitor: null
    every_n_epochs: 1
    save_last: true
    save_weights_only: false

  model_checkpoint_step:
    _target_: lightning.pytorch.callbacks.ModelCheckpoint
    dirpath: data/models/${exp_name}
    filename: step_{step:05d}
    auto_insert_metric_name: false
    save_top_k: -1
    monitor: null
    every_n_train_steps: 10000
    save_last: false
    save_weights_only: true

  model_summary:
    _target_: lightning.pytorch.callbacks.RichModelSummary
    max_depth: 3

  tqdm_pbar:
    _target_: lightning.pytorch.callbacks.TQDMProgressBar
    refresh_rate: 500

logger:
  _target_: lightning.pytorch.loggers.WandbLogger
  project: gensim
  save_dir: data
  name: ${exp_name}
  log_model: false
  tags:
  - surrogate
  - train
  offline: true
  mode: offline

surrogate:
  network:
    _target_: gensim.network.Transformer
    n_input: 24
    n_output: 6
    n_features: 512
    n_blocks: 8
    n_heads: 8
    n_features_head: 64
    n_rope_features: 32
    n_embedding: 512
    n_time_in: 1
    n_res_in: 1
    n_augment_in: 3
    mult: 2
    patch_size: 2
    dropout_mlp: 0.0
    lengthscale: 10
    long_skips: true

  encoder:
    _target_: gensim.encoder_decoder.GaussianEncoder
    mean:
    - 0.876
    - 0.4922
    - 0.3684
    - -0.0025
    - -0.0079
    - 0.0766
    - 268.4102
    - 0.003
    - 0.4186
    - -0.3956
    - 268.4102
    - 0.003
    - 0.4186
    - -0.3956
    - 3.7189
    - 6.662
    - 3.7086
    - 6.6906
    std:
    - 1.054
    - 0.4746
    - 0.4307
    - 0.0621
    - 0.0653
    - 0.1283
    - 12.8402
    - 0.0025
    - 5.4348
    - 5.435
    - 12.8402
    - 0.0025
    - 5.4348
    - 5.435
    - 4.9611
    - 8.9729
    - 4.2826
    - 5.1771

  decoder:
    _target_: gensim.encoder_decoder.GaussianDecoder
    mean:
    - -0.0
    - 0.0
    - 0.0
    - -0.0
    - 0.0
    - 0.0
    std:
    - 0.0822
    - 0.0323
    - 0.0529
    - 0.0415
    - 0.0416
    - 0.0115
    lower_bound:
    - 0.0
    - 0.0
    - 0.0
    - -.inf
    - -.inf
    - 0.0
    upper_bound:
    - .inf
    - 1.0
    - 1.0
    - .inf
    - .inf
    - .inf

  sampler:
    _target_: gensim.sampler.FlowMatchingSampler
    n_steps: 20
    schedule_scale: 3
    schedule_shift: 0.5
    second_order: true
    censoring: true

  train_augmentation:
    _target_: gensim.augmentation.DataAugmentation
    hflip:
      _target_: gensim.augmentation.HFlipTransformation
      probability: 0.5
    vflip:
      _target_: gensim.augmentation.VFlipTransformation
      probability: 0.5
    rotate:
      _target_: gensim.augmentation.RotateTransformation
      probability: 0.5

  patch_generator:
    _target_: gensim.augmentation.PatchGenerator
    mask_path: data/auxiliary/ds_auxiliary.nc
    train_with_overlap: ${surrogate.train_with_overlap}
    n_patches: 8
    patch_size: ${surrogate.patch_size}
    overlap_size: ${surrogate.overlap_size}
    coarse_levels:
    - 1
    - 2
    - 4
    - 8
    coarse_probs:
    - 1
    - 0.5
    - 0.25
    - 0.125
    valid_threshold: 0.1

  _target_: gensim.model.FlowMatchingModel
  _recursive_: false
  lr: 0.0005
  lr_warmup: 5000
  total_steps: 1000000
  weight_decay: 0.001
  ema_rate: 0.9999
  optimize_scale: true
  censoring: true
  train_with_overlap: true
  patching: true
  patch_size:
  - 64
  - 64
  overlap_size:
  - 8
  - 8

data:
  _target_: gensim.data_module.SurrogateDataModule
  data_path: data/train_data
  aux_path: data/auxiliary/ds_auxiliary.nc
  delta_t: 2
  n_input_steps: 1
  n_rollout_steps: 1
  base_resolution: 12.5
  forcing_variables:
  - tus
  - huss
  - uas
  - vas
  state_variables:
  - sit
  - sic
  - sid
  - siu
  - siv
  - snt
  batch_size: ${batch_size}
  val_batch_size: ${batch_size}
  n_workers: ${num_workers}
  n_train_samples: null
  pin_memory: true
  fast: true
  suffix: ''
  threads_limit: shared

exp_name: gensim
logging_level: DEBUG
seed: 0
num_workers: 8
batch_size: 4
ckpt_path: null
compile: true
nodes: 1
devices: 8
